.firstDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h2 {
    margin: 10px;
  }
  
  .closeIcon {
    margin: 10px;
    font-size: 25px;
  }

  /* Estilo para el ion-card */
  ion-card {
    border-radius: 15px;
  }

  .firstImg {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }