.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

h1 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.container p {
    color: #fff;
}

.cogIcon {
    font-size: 10rem;
    align-self: center;
    animation: spin 4s linear infinite; /* Aquí agregas la animación */
}

.errorIcon {
    font-size: 10rem;
    align-self: center;
}

.blueText {
    --ion-color-contrast: #3880ff !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

img {
    width: 150px;
    display: flex;
    margin: 0 auto;
}

.white-text {
    --ion-color-contrast: #3880ff !important;
}
