.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}


.container p {
    color: #fff;
}

.checkmarkIcon {
    font-size: 10rem;
    align-self: center;
}

img {
    width: 150px;
    display: flex;
    margin: 0 auto;
}

.whiteText {
    --ion-color-contrast: #3880ff !important;
}