.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

h1 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.fixed-button {
    position: absolute;
    z-index: 9999;
}

.accessibilityIcon {
    font-size: 2rem;
    color: #fff;
}

.cameraIcon {
    font-size: 10rem;
    margin-bottom: 20px;
    align-self: center;
}

.container p {
    color: #fff;
}

img {
    width: 150px;
    display: flex;
    margin: 0 auto;
}

.whiteText {
    --ion-color-contrast: #3880ff !important;
}