.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 113vw;
    margin: 0px 32px;
    padding: 0px;
}

.material-symbols-outlined {
    font-size: 10rem;
    color: #1F89EA;
}

h1 {
    font-size: 2.3rem;
    font-weight: bold;
}

p {
    color: #343A40;
}

ion-button[slot='fixed'] {
    bottom: 5px;
    left: 5px;
}

.accessibility-icon {
    font-size: 4rem;
    color: #fff;
}