.imageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

/* .selectButton {
    margin-bottom: 10px;
}

.selectButton.active {
    background-color: #007bff;
    color: white;
} */
