.firstDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .firstDiv h2 {
    margin: 10px;
  }
  

  .firstText {
    margin: 10px;
  }

  .firstToggle {
    margin: 10px;
  }

  .firstButton {
    margin: 10px;
    --color: white; /* Cambia el color del texto aquí */
    border-radius: 10px;
    overflow: hidden;
  }
  
  .firstImg {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  p strong:first-of-type {
    font-weight: bold;
    color: grey;
  }

  .product-image {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
    object-fit: cover; /* Acercar la imagen en vez de mostarrla completa*/
  }
  
  /* Estilo para el ion-card */
ion-card {
  border-radius: 15px;
}
