@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html.md {
    --ion-default-font: 'Poppins' !important;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: var(--text-size, 1em);
    font-weight: var(--text-bold, normal);
}

ion-card {
    border-radius: 20px;
}

p {
    color: #343A40;
}
.high-contrast-dark {
    font-family: 'Poppins', sans-serif;
    --ion-background-color: #000000;
    --ion-text-color: #ffffff;
    --ion-toolbar-background: #000000;
    --ion-toolbar-text-color: #ffffff;
    --ion-item-background: #000000;
    --ion-item-text-color: #ffffff;
    --ion-button-text-color: #ffffff;
    --ion-label-color: #ffffff;
    --ion-text-color: #ffffff;
}
.high-contrast-dark p {
    color: #ffffff;
}
/* Definir variable CSS para tamaño de texto */
:root {
    --text-size: 1em; /* Tamaño base del texto */
    --text-bold: normal; /* Estado inicial de la negrita */
}
