@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

html.md {
    --ion-default-font: 'Poppins' !important;
    --ion-font-family: 'Poppins' !important;
}

html,
body {
    --ion-font-family: 'Poppins' !important;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    margin-bottom: 15px;
}

.custom-popover {
    --width: 375px;
    --height: auto;
}

.custom-popover ion-content {
    font-size: 14px;
}

.swiper-pagination-bullet-active {
    background: #F4F4F4 !important;
}

.size-img {
    width: 100%;
    transition: filter 0.1s ease;
    object-fit: cover;
    max-height: 200px;
}

ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-card {
    border-radius: 20px;
    box-shadow: none;
    border: 2px solid #E0E0E0;
}

:root {
    /* Variables de accesibilidad */
    --text-font-size: 1rem;
    /* Tamaño de texto por defecto */
    --text-font-weight: normal;
    /* Peso por defecto */
    --background-color: #F4F4F4;
    /* Fondo claro */
    --text-color: #343A40;
    /* Texto oscuro */

    /* Alternativas para modo de alto contraste */
    --high-contrast-background: #343A40;
    --high-contrast-text: #F4F4F4;
    --high-contrast-weight: bold;
}

body,
html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
}

ion-content,
ion-page,
ion-header,
ion-footer,
ion-toolbar {
    --ion-background-color: var(--background-color);
    --ion-color: var(--text-color);
}

ion-card,
ion-card-content,
ion-card-title,
ion-card-subtitle {
    --ion-background-color: var(--background-color);
    --ion-color: var(--text-color);
    --ion-text-color: var(--text-color);
}

ion-toolbar {
    --ion-toolbar-background: var(--background-color);
    --ion-toolbar-color: var(--text-color);
}

p,
h2,
h3,
h4,
h5,
h6,
label,
a,
span {
    color: var(--text-color);
}

button,
ion-button {
    font-weight: var(--text-font-weight);
    --ion-color: var(--text-color);
    --ion-text-color: var(--text-color);
    --ion-background-color: var(--background-color);
}

input,
textarea,
ion-select,
ion-input,
ion-textarea,
ion-searchbar,
ion-label {
    background-color: var(--background-color);
    color: var(--text-color);
    --ion-color: var(--text-color);
    --ion-text-color: var(--text-color);
    font-size: var(--text-font-size);
}

.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h,
.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h {
    color: var(--text-color);
}

::placeholder {
    color: var(--text-color);
}

ion-toggle {
    --ion-background-color: var(--background-color);
    --ion-color-checked: var(--text-color);
}

ion-toast {
    --ion-background-color: var(--background-color);
    --ion-color: var(--text-color);
}

/* alert */
.alert-wrapper.sc-ion-alert-ios,
h2 {
    --background: var(--background-color);
    --ion-text-color: var(--text-color);
}